body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  position: relative;
}

.app,
.promo,
.projects,
.header-component,
.promo-component,
.project-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid red;
}

.promo-component,
.project-component {
  width: 60vw;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}