body {
  background-color: #2D3142;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 160%;
  display: grid;
  place-items: center;
}

.app,
.promo,
.skills,
.projects,
.container,
.promo-component,
.header-component,
.project-component {
  align-items: center;
  text-align: center;
}