body {
  background-color: #0d1821;
  /* color: #f0f4ef; */
  font-family: Arial, sans-serif;
  display: grid;
  place-items: center;
}

.app,
.promo,
.skills,
.projects,
.container,
.promo-component,
.header-component,
.project-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.promo,
.skills,
.projects {
  max-width: 50vw;
  min-width: 340px;
}

.container {
  flex-direction: row;
  width: 90vw;
  padding-left: 4rem;
  padding-right: 4rem;
  align-items: center;
  justify-content: space-between;
}

.project-component {
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
  justify-content: space-between;
}

.promo-component {
  flex-direction: row;
  justify-content: center;
  min-width: 100%;
}

.header-component {
  cursor: pointer
}

p {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}