:root {
  --text-color: #ffffff;
}

.header-content {
  border-bottom: 1.5px solid #BFC0C0;
  width: 98%;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-title,
.header-paragraph {
  padding: 0.5em 0;
  color: var(--text-color);
}

.header-link-skills {
  margin: 10px;
  text-align: center;
  flex: 1;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-link:hover {
  color: black;
}

.footer-component {
  align-items: 5px;
}

.github-link {
  margin-right: 5px;
}

.linkedin-link {
  margin-left: 5px;
}

.github-link:hover,
.linkedin-link:hover {
  filter: invert(100%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  text-decoration: underline;
}