.header-content {
  border-bottom: 1.5px dotted white;
  width: 98%;
}

.header-title,
.header-paragraph {
  padding: 0.5em 0;
}

.header-link-skills {
  margin: 10px;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-link:hover {
  color: blue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  text-decoration: underline;
}