nav {
  border-bottom: 1.5px solid white;
  width: 98%;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  text-decoration: none;
}