.project-element {
  display: flex;
  width: 400px;
  max-height: 150px;
  background-color: blue;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
}

.project-image {
  flex: 1;
}

.project-text {
  flex: 2;
}

.project-image img {
  max-width: 100%;

}