:root {
  --text-color: #ffffff;
}

.project-component {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-element {
  align-items: center;
  padding: 9.6px;
  margin: 10px;
  cursor: pointer;
}

.project-element img:hover {
  opacity: 0.50;
}

.project-feature {
  flex: 1;
}

.project-feature img {
  height: 150px;
  width: 300px;
}

.project-text {
  flex: 2;
}

.project-feature-description {
  max-width: 300px;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: left;
  color: var(--text-color);
}

.gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
}