.project-element {
  display: flex;
  align-items: center;
  background-color: #344966;
  border: 2px solid #e6aace;
  border-radius: 0.5rem;
  padding: 9.6px;
  margin: 10px;
  flex: 0 0 calc(44% - 0px);
  cursor: pointer;
}

.project-image {
  flex: 1;
}

.project-image img {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.project-text {
  flex: 2;
}