.promo-element {
  border: 5px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  min-width: 100vw;
}

.promo-image {
  background-size: cover;
}

.text-overlay {
  position: center;
  top: 0;
  right: 0;
  color: red;
  text-align: center;
}