.promo-element {
  width: 90%;
  min-height: 20vw;
  background-color: #344966;
  border: 2px solid #e6aace;
  border-radius: 0.5rem;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.promo-image {
  padding: 10px;
  height: 30%;
}

.promo-image img {
  max-width: 100%;
}